<div>
    <img src="./assets/images/burger_img.jpg" alt="burger image">
</div>

<h1>To-Burger List App</h1>

<h2>Burgers I want plan to eat!</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers I have eaten!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{burgers/burger-block devoured=true}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a burger to the list</h2>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="burger_name">
    <label for="ca">Enter a burger you'd like to devour and click "submit burger" to add it to the list.</label>
  </div>

  <button type="submit">Submit burger</button>
</form>

